:root {
  --color-background: #fff;
  --color-text: #000;
  --highlight: #2f81f7;
  --color-border: #e1e1e1;
  --color-negative: #ff652f;
  --color-positive: #5bc5a7;
  --border-radius: 1rem;
  @media (prefers-color-scheme: dark) {
    --color-background: #19191a;
    --color-text: #aaa;
    --highlight: #00b7ff;
    --color-border: #2f2f31;
    --color-negative: #ff652f;
    --color-positive: #5bc5a7;
  }
}
*,
*::before,
*::after {
  position: relative;
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}
html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body {
  min-height: 100dvh;
  font-family: Bahnschrift, 'DIN Alternate', 'Franklin Gothic Medium', 'Nimbus Sans Narrow', sans-serif-condensed, sans-serif;
  font-size: 16px;
  color: var(--color-text);
  background-color: var(--color-background);
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}
p, li {
  text-wrap: pretty;
}
ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
select {
  padding: 0.25em 0.5em;
  font-family: inherit;
  font-size: 1.25rem;
  line-height: 1.1;
  color: var(--color-text);
  appearance: none;
  cursor: pointer;
  background-color: var(--color-background);
  border-color: var(--color-border);
  border-radius: 0.25em;
  outline: none;
  &:hover,
  &:focus-visible {
    outline: 1px solid var(--highlight);
  }
}
button {
  padding: 0.5em 0.75em;
  font-family: inherit;
  font-size: 16px;
  line-height: 1.1;
  color: var(--color-text);
  white-space: nowrap;
  appearance: none;
  cursor: pointer;
  background-color: var(--color-background);
  border: 1px solid var(--color-border);
  border-radius: 0.25em;
  outline: none;
  &:hover,
  &:focus-visible {
    outline: 1px solid var(--highlight);
  }
  &:active {
    transform: scale(0.95);
  }
  @media (width <= 500px) {
    font-size: 0.75rem;
  }
}
textarea {
  width: 100%;
  min-height: 4.6875rem;
  max-height: 12.5rem;
  padding: 0.5em;
  font-family: inherit;
  resize: vertical;
  border: 1px solid var(--color-border);
  border-radius: 0.25em;
  outline: none;
  &:hover,
  &:focus-visible {
    outline: 1px solid var(--highlight);
  }
}
a {
  color: var(--highlight);
}
#app {
  max-width: 80rem;
  margin: 0 auto;
  font-weight: normal;
}
.image {
  width: 6.25rem;
  height: 6.25rem;
  object-fit: contain;
  border-radius: var(--border-radius);
  @media (width <= 500px) {
    width: 4.0625rem;
    height: 4.0625rem;
  }
}
.v-enter-active,
.v-leave-active {
  transition: opacity 0.5s ease;
}
.v-enter-from,
.v-leave-to {
  opacity: 0;
}
